<h3>Filmes mais populares</h3>

<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#test1">Test 1</a></li>
        <li class="tab col s3"><a class="active" href="#test2">Test 2</a></li>
        <li class="tab col s3 disabled"><a href="#test3">Disabled Tab</a></li>
        <li class="tab col s3"><a href="#test4">Test 4</a></li>
      </ul>
    </div>
    <div id="test1" class="col s12">Test 1</div>
    <div id="test2" class="col s12">Test 2</div>
    <div id="test3" class="col s12">Test 3</div>
    <div id="test4" class="col s12">Test 4</div>
  </div>
<form action="" class="form-inline">
  <div class="form-group">
    <label for="">Buscar Filme: </label>
    <input type="text" name="moviesearch" class="form-control" [(ngModel)]="movie.title">
    <button type="button" class="btn btn-default" (click)="search(movie.title)">Buscar</button>
  </div>
</form>
<hr>
<div class="card" style="float:left !important; margin-left:10px; margin-bottom:20px; word-wrap: break-word; width:200px; height:350px;" *ngFor="let m of movies">
    <a [routerLink]="['/movies/' + m.id]" class="btn btn-default">
      <img class="card-img-top" src="http://image.tmdb.org/t/p/w185{{m.poster_path}}" alt="{{m.title}}" style="height:300px;">  
    </a>
    <div class="card-block">        
        <p class="card-title">{{m.title}} &nbsp; <span class="badge badge-default">{{m.vote_count}} votos</span></p>
    </div>
</div>
<ul class="pagination">
    <li *ngFor="let page of total_pages"><a href="javascript:;" (click)="paginate(page)">{{page}}</a></li>
  </ul>